.header{
  width:100%;
 - height:90px;
}



.inner{
  width:1060px;
  margin:0 auto;
  position: relative;
}

.logo{
  position: absolute;
  top:0;
  left:0;
  vertical-align: top;
}

.gnb{
  float:right;
}


.gnb-depth1{
  float: left;
}

.gnb-depth1-item{
  float: left;
  margin-right:70px;
}

.gnb-depth1-link{
  display: block;
  padding:30px 0 32px;
  line-height: 78px;
  text-align: center;
}

/*юс╫ц*/
.gnb-depth2 li{
}

.gnb-depth2-link{
  font-size: 14px;
}


.small-wrap{
  width:100%;
  height:346px;
  margin: 60px auto;
  overflow: hidden;
  background: #f7f7f7;  float:left;
}


.h2top{
  width: 88px;
  height:15px;
  display: block;
  text-indent: -99999em;
  background: url(../images/mCsr_tit.png) no-repeat;


}



.mc-menu{
  float:left;
}

.mc-menu1,
.mc-menu2,
.mc-menu3,
.mc-menu4{
  float:left;
}

.mc-menu1 img:hover{
  background: url(../images/mCsrIcon1_on.png)


}




/*.footer{*/
  /*position: relative;*/
  /*margin: 0 auto;*/
  /*height:130px;*/
  /*background: #323232;*/

/*}*/

/*.terms{*/
  /*float:left;*/
/*}*/

/*.terms li{*/
  /*float:left;*/
/*}*/

/*.terms li a{*/
  /*display: block;*/
  /*font-size: 14px;*/
  /*padding:0 13px;*/
  /*color:#aeaeae;*/
/*}*/

/*.footer-right{*/
  /*position: absolute;*/
  /*float:right;*/
  /*top:0;*/
  /*right:0;*/
/*}*/

/*.family{*/
  /*float:left;*/
  /*display: inline-block;*/
  /*width:152px;*/
  /*height:35px;*/
  /*line-height:35px;*/
  /*text-align: left;*/
  /*color:#fff;*/
  /*font-size: 13px;*/
  /*letter-spacing: 0;*/
  /*border: 1px solid #020202;*/
  /*background: url(../images/famBt_bu.gif) no-repeat;*/
/*}*/

/*.button{*/
  /*display: inline-block;*/
  /*width:53px;*/
  /*height:33px;*/
  /*float:left;*/
  /*background: #111111;;*/
  /*color:#ffffff;*/
  /*border: 1px solid #020202;*/
  /*line-height:31px;*/
  /*text-align: center;*/
  /*letter-spacing: 0;*/
/*}*/

/*.copyright{*/
  /*float:left;*/
  /*font-size:14px;*/
  /*color:#aeaeae;*/
/*}*/

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}