/*
  웹페이지 전체 가로 길이 : 1200px
  브라우저 가운데 정렬
  header 세로길이 : 100px
  Lnb 가로길이 : 250px
  Lnb와 contents의 사읭 여백 : 50px
  footer의 세로길이 : 300px

*/


.wrap{
  width:1200px;
  margin:0 auto;
}

.header{
  height:100px;
  background-color:orchid;
  margin-bottom:20px;
}

.container:after{
  content:"";
  display:block;
  clear:both;
}

.lnb{
  width:250px;
  height:400px;
  margin-right:20px;
  background-color:hotpink;
  float:left;
}

.contents{
  width:930px;
  height:800px;
  background-color:seagreen ;
  float:right;
}


.footer{
  height:300px;
  background-color: gold;
  margin-top:20px;
  clear:both;
}